/*== GENERAL ==================================(start)*/

body {
    margin: 0;
    position: relative;
    font-family: 'PT Sans', sans-serif !important;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 13px;
}

*{
    box-sizing: border-box;
}

/*== GENERAL ==================================(end)*/





/*== HEADER ==================================(start)*/

header{
    background-color: rgba(250,250,250, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    color: white;
    position: fixed;
    top: 0; left: 0; right:0;
}

header .logo{
    font-weight: bold;
}

header .profileLinksContainer{
    height: 2rem;
    width: 2rem;
}

header .profileLinks{
    height: 2rem;
    width: 2rem;
    background-color: black;
    border-radius: 100%;
    border: 1px solid white;
}

/*== HEADER ==================================(end)*/





/*== MAIN ==================================(start)*/

main{
    margin-top: 4rem; /*place for header*/
    display: flex; /*make all columns side by side*/
    min-width: 100vw;
    height: calc(100vh - 4rem);
    width: fit-content;
}

#columnsContainer{
    display: flex;
    width: fit-content;
}

.column {
    width: 15rem;
    height: fit-content; /*otherwise all column have the same height*/
    margin-left: 1rem;
    background-color: rgba(250,250,250, 0.7);
    position: relative;
}

.column > .btn-close{
    position: absolute;
    right: 0;
}

.column > .card-footer{
    padding: 0;
    cursor: pointer;
}
.column > .card-footer > div{
    padding: 1rem;
}

.column > .card-footer > .card-text:hover{
    color: white;
}

#addColumn:hover{
    cursor: pointer;
    color: white;
}

.list {
    max-height: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.list::-webkit-scrollbar {
    display: none;
}

.list > *{
    margin-top: 0.5rem;
    /* padding: 0.5rem; */
    border-radius: 4px;
    background-color: rgba(250,250,250, 0.9);
    box-shadow: 0px 1px 2px 0px;
    width: 100%;
    position: relative; /*act on function-btn*/
}


#addTask_full{
    flex-direction: column;
}













textarea, input, select{
    background-color: transparent;
    border: none;
    /* outline: none; */
    resize: none;
    min-height: 1rem;
    max-height: 5rem;
    width: 100%;
}

.deadline{
    text-align: right; /*why bootstrap class="text-right" doen't work??*/
}

.task-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8px;
}

.saveEditedTaskBtn{
    position: absolute;
    top: -0.5rem;
    padding: 0 0.4rem;
    margin: 2px;
    display: none;
}

.function-btn{
    position: absolute;
    top: -0.5rem;
    right: 0;
    background-color: white;
    border-radius: 4px;
    padding: 1px;
    display: flex;
    justify-content: flex-end;
}
.function-btn button{
    padding: 0 0.4rem;
    margin: 2px;
}

/*== MAIN =================================(end)*/





/*== ADD A COLUMN =================================(start)*/
#addAColumn_input{
    display: flex;
    flex-direction: column;
}
/*== ADD A COLUMN =================================(end)*/
